.verde {
    background-color: green;
    height: 50px;
}

.rojo {
    background-color: red;
}

.rosa {
    background-color: pink;
    height: 50px;
}

.naranja {
    background-color: orange;
    height: 50px;
}

.azul {
    background-color: blue;
    height: 50px;
}