#imatge {
    width: 600px;
    height: 600px;
}

.cuadro1 {
    background-color: green;
    width: 66.6%;
    height: 100px;
    float: left;
}

.cuadro2 {
    background-color: indigo;
    width: 33.3%;
    height: 100px;
    float: right;
}

.cuadro3 {
    background-color: red;
    width: 33.3%;
    height: 200px;
    float: left;
}

.cuadro4 {
    background-color: blue;
    width: 33.3%;
    height: 200px;
    float: left;
}

.cuadro5 {
    background-color: rosybrown;
    width: 33.3%;
    height: 100px;
    float: right;
}

.cuadro6 {
    background-color: orange;
    width: 33.3%;
    height: 100px;
    float: right;
}

.cuadro7 {
    background-color: salmon;
    width: 66.6%;
    height: 100px;
    float: left;
}

.cuadro8 {
    background-color: seagreen;
    width: 33.3%;
    height: 200px;
    float: right;
}

.cuadro9 {
    background-color: aqua;
    width: 66.6%;
    height: 100px;
    float: left;
}

.cuadro10 {
    background-color: yellow;
    width: 33.3%;
    height: 100px;
    float: left;
}

.cuadro11 {
    background-color: slategray;
    width: 33.3%;
    height: 100px;
    float: left;
}

.cuadro12 {
    background-color: gold;
    width: 33.3%;
    height: 100px;
    float: right;
}